<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <section class="widget">
      <header>
        <h4>
          Create League
        </h4>
        <div class="widget-controls">
          <a href="#">
            <i class="glyphicon glyphicon-cog"></i>
          </a>
          <a href="#">
            <i class="fa fa-refresh"></i>
          </a>
          <a href="#" data-widgster="close">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </div>
      </header>
      <div class="body">
        <form class="form-horizontal" role="form">
          <fieldset>
            <legend class="section">Horizontal form</legend>
            <div class="form-group">
              <label for="normal-field" class="col-sm-4 control-label">Name</label>
              <div class="col-sm-7">
                <input type="text" id="hint-field" class="form-control input-transparent">
              </div>
            </div>
            <div class="form-group">
              <label for="hint-field" class="col-sm-4 control-label">
                City
              </label>
              <div class="col-sm-7">
                <input type="text" id="hint-field" class="form-control input-transparent">
              </div>
            </div>
            <div class="form-group">
              <label for="hint-field" class="col-sm-4 control-label">
                State
              </label>
              <div class="col-sm-7">
                <input type="text" id="hint-field" class="form-control input-transparent">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="tooltip-enabled">Age Group</label>
              <div class="col-sm-7">
                <input type="text" id="hint-field" class="form-control input-transparent">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="disabled-input">Payment Rates</label>
              <div class="col-sm-7">
                <input type="text" id="hint-field" class="form-control input-transparent">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="max-length">Sport</label>
              <div class="col-sm-7">
                <input type="text" id="hint-field" class="form-control input-transparent">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="prepended-input">Season</label>
              <div class="col-sm-7">
                <input type="text" id="hint-field" class="form-control input-transparent">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="password-field">Game Length</label>
              <div class="col-sm-7">
                <input type="text" id="hint-field" class="form-control input-transparent">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="appended-input">Gender</label>
              <div class="col-sm-7">
                <input type="text" id="hint-field" class="form-control input-transparent">
              </div>
            </div>
          </fieldset>
          <div class="form-actions">
            <div class="row">
              <div class="col-sm-offset-4 col-sm-7">
                <div class="btn-toolbar">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                  <button type="button" class="btn btn-inverse">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
