<ul id="side-nav" class="side-nav">
  <li [routerLinkActive]="['active']">
    <a routerLink="dashboard"><i class="fa fa-home"></i> <span class="name">Home</span></a>
  </li>
  <li class="panel ">
    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#forms-collapse"><span class="name">Sports</span></a>
    <ul id="forms-collapse" class="panel-collapse collapse ">
      <li class=""><a routerLink="sports_all">All Games</a></li>
      <li class=""><a routerLink="sports_baseball">Baseball</a></li>
      <li class=""><a routerLink="sports_softball">Softball</a></li>
      <li class=""><a routerLink="sports_soccer">Soccer</a></li>
      <li class=""><a routerLink="sports_b_basketball">B Basketball</a></li>
      <li class=""><a routerLink="sports_g_basketball">G Basketball</a></li>
      <li class=""><a routerLink="create_league">Create League</a></li>
      <li class=""><a routerLink="sports_league_settings">League Settings</a></li>
    </ul>
  </li>
  <li class="panel ">
    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#stats-collapse"><span class="name">Feedback</span></a>
    <ul id="stats-collapse" class="panel-collapse collapse ">
      <li class=""><a routerLink="feedback_all">All Games</a></li>
      <li class=""><a routerLink="feedback_baseball">Baseball</a></li>
      <li class=""><a routerLink="feedback_softball">Softball</a></li>
      <li class=""><a routerLink="feedback_soccer">Soccer</a></li>
      <li class=""><a routerLink="feedback_b_basketball">B Basketball</a></li>
      <li class=""><a routerLink="feedback_g_basketball">G Basketball</a></li>
      <li class=""><a routerLink="feedback_settings">Feedback Settings</a></li>
    </ul>
  </li>
  <li class="panel">
    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#ui-collapse"><span class="name">Referees</span></a>
    <ul id="ui-collapse" class="panel-collapse collapse">
      <li class=""><a routerLink="referee_all">All</a></li>
    </ul>
  </li>
  <li class="panel ">
    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#components-collapse"><span class="name">Payment</span></a>
    <ul id="components-collapse" class="panel-collapse collapse ">
      <li class=""><a href="component_calendar.html">Calendar</a></li>
      <li class=""><a href="component_maps.html" data-no-pjax>Maps</a></li>
      <li class=""><a href="component_gallery.html">Gallery</a></li>
      <li class=""><a href="component_fileupload.html" data-no-pjax>Fileupload</a></li>
      <li class=""><a href="component_bootstrap.html">Bootstrap</a></li>
      <li class=""><a href="component_list_groups.html">List Groups</a></li>
    </ul>
  </li>
  <li class="panel ">
    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#tables-collapse"><span class="name">Account</span></a>
    <ul id="tables-collapse" class="panel-collapse collapse ">
      <li class=""><a href="tables_static.html">Static <sup class="text-danger fw-bold">upd</sup></a></li>
      <li class=""><a href="tables_dynamic.html">Dynamic</a></li>
    </ul>
  </li>
</ul>

<!-- <h5 class="sidebar-nav-title">Labels <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h5>

<ul class="sidebar-labels">
  <li>
    <a href="#">
      <i class="fa fa-circle text-warning"></i>
      <span class="label-name">My Recent</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-circle text-gray"></i>
      <span class="label-name">Starred</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-circle text-danger"></i>
      <span class="label-name">Background</span>
    </a>
  </li>
</ul>

<h5 class="sidebar-nav-title">Projects</h5>
<div class="sidebar-alerts">
  <div class="alert fade in">
    <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
    <span class="text-white fw-semi-bold">Sales Report</span> <br>
    <div class="bg-blue-light progress-bar">
      <progress class="progress progress-xs progress-bar-gray-light mt-xs mb-0" value="100" max="100" style="width: 16%"></progress>
    </div>
    <small>Calculating x-axis bias... 65%</small>
  </div>
  <div class="alert fade in">
    <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
    <span class="text-white fw-semi-bold">Personal Responsibility</span> <br>
    <div class="bg-blue-light progress-bar">
      <progress class="progress progress-xs progress-danger mt-xs mb-0" value="100" max="100" style="width: 23%"></progress>
    </div>
    <small>Provide required notes</small>
  </div>
</div> -->
